docker.enabled = true

params {
    normal_bam_folder = false
    outdir    = "results"
    ref       = false
    ref_index = false
    ref_dict  = false
    interval_list = false
    af_only_gnomad_vcf = false
    af_only_gnomad_vcf_idx = false

}

process {
  withName: run_mutect2_tumor_only_mode {
    container = "broadinstitute/gatk:latest"
  }
  withName: create_GenomicsDB {
    container = "broadinstitute/gatk:latest"
  }
withName: create_somatic_PoN {
    container = "broadinstitute/gatk:latest"
  }
}
